body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

header {
  background-color: #1e1e1e;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  color: white; /* 기본 텍스트 색상 */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header nav a:hover {
  background-color: #444; /* 마우스를 올렸을 때 어두운 회색 */
  color: #ffd700; /* 마우스를 올렸을 때 노란색 */
}

.post-item {
  background-color: #1e1e1e;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}

button {
  background-color: #444e61;
  color: white;
  width: 100px;
  height: 50px;
  margin-left: 10px;
}
