body {
  background-color: #1f1f1f;
  color: white;
  font-family: Arial, sans-serif;
}

header {
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

.nav-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #45a049;
}

main {
  padding: 20px;
}

#post-container {
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
}

.button-container {
  margin-top: 20px;
}

.action-button,
.delete-button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.action-button:hover,
.delete-button:hover {
  background-color: #1e88e5;
}
